body {
    background-color: white;
    
}
.titulo {
   font-family: 'Aktiv Grotesk';
    font-weight: 700;
    font-size: 76px;
    line-height: 100px;
    display: flex;
    letter-spacing: -0.017em;
    color: red;
    padding-left: 60px;
    padding-top: 30px;

}

h2 {
    font-family: 'Aktiv Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    color: black;
    line-height: 51px;
    align-items: center;
    padding-left: 180px;
   padding-right: 180px;
    padding-top: 30px;
    position: relative;
}

h3 {
    font-family: 'Aktiv Grotesk';
    font-size: 20px;
    padding-left: 180px;
        color: black;
}

mark {
    color: red;
    background-color: inherit;
    z-index: 2;
}

.material-icons {
    color: red;
    left: 85%;
    top: 10%;
    background-color: inherit;
    cursor: pointer;
    display: inline-block;
    position: absolute;
}

/*interactive*/ 


.popup-trigger-interactive {
  display: inline-block;
  color: white;
  background-color: inherit;
  position: relative;
  top: 0;
  left: 0;
}

.popup-interactive {
  display: none;
}

.popup-trigger-interactive:hover .popup-interactive {
  position: absolute;
  left: calc(140% - 50px);
  top: calc(-30% - 50px);
  display: inline-block;
  height: 180px;
  width: 260px;
  background-color: black;
    border-radius: 30px;
}

.texto-1 {
    color: white;
    font-family: 'Aktiv Grotesk';
    font-size: 20px;
    line-height: 22pt;
    padding: inherit;
    padding-left: 5px;
    align-items: center;    
}


.popup-trigger-interactive .texto-1 {
    position: inline;
}



/*control*/ 


.popup-trigger-control {
  display: inline-block;
  color: white;
  background-color: inherit;
  position: relative;
  top: 0;
  left: 0;
}

.popup-control {
  display: none;
}

.popup-trigger-control:hover .popup-control {
  position: absolute;
  left: calc(160% - 50px);
  top: calc(30% - 50px);
  display: inline-block;
  height: 120px;
  width: 250px;
  background-color: black;
    border-radius: 30px;
    z-index: 1;
}

.texto-2 {
    color: white;
    font-family: 'Aktiv Grotesk';
    font-size: 20px;
    line-height: 22pt;
    padding: inherit;
    padding-left: 5px;
    align-items: center;    
}


.popup-trigger-control .texto-2 {
    position: inline;
}

/*problems*/ 


.popup-trigger-problems {
  display: inline-block;
  color: white;
  background-color: inherit;
  position: relative;
  top: 0;
  left: 0;
}

.popup-problems {
  display: none;
}

.popup-trigger-problems:hover .popup-problems {
  position: absolute;
  left: calc(150% - 50px);
  top: calc(-10% - 50px);
  display: inline-block;
  height: 150px;
  width: 260px;
  background-color: black;
    border-radius: 30px;
}

.texto-3 {
    color: white;
    font-family: 'Aktiv Grotesk';
    font-size: 20px;
    line-height: 22pt;
    padding: inherit;
    padding-left: 5px;
    align-items: center;    
}


.popup-trigger-problems .texto-3 {
    position: inline;
}

/*manipulator*/ 


.popup-trigger-manipulator {
  display: inline-block;
  color: white;
  background-color: inherit;
  position: relative;
  top: 0;
  left: 0;
}

.popup-manipulator {
  display: none;
}

.popup-trigger-manipulator:hover .popup-manipulator {
  position: absolute;
  left: calc(140% - 50px);
  top: calc(-10% - 50px);
  display: inline-block;
  height: 150px;
  width: 260px;
  background-color: black;
    border-radius: 30px;
}

.texto-4 {
    color: white;
    font-family: 'Aktiv Grotesk';
    font-size: 20px;
    line-height: 22pt;
    padding: inherit;
    padding-left: 5px;
    align-items: center;    
}


.popup-trigger-manipulator .texto-4 {
    position: inline;
}

/*imagem*/

.numero-1 {
  color: red;
  position: fixed;
  top: 230px;
  right: -100px;
  font-size: 50px;
  
}

.popup-trigger-numero-1 {
  top: 0;
  left: 0;
  cursor: default;
  position: absolute;
  
}

.popup-numero-1 {
display: none;
}

.popup-trigger-numero-1:hover .popup-numero-1 {
display: inline-block;
}

.imagem-1 {
  height: 360px;
  border-left: 40px;
  padding-left: 800px;
  padding-top: 330px;
}

a {
  font-family: 'Aktiv Grotesk';
  text-decoration: none;
  font-size: 25px;
  left: 90%;
    top: 10%;
    cursor: pointer;
    position: absolute;
}

.previous {
  background-color: none;
  color: red;
}
.next {
  background-color: none;
  color: red;
}
